@{
    ViewData["Title"] = "Home Page";
    
}


<div class="text-center">
    @*<h1 class="display-4 font-weight-bold ">Welcome to my store</h1>    *@
    <div class="">
    <img width="100%" src="https://picsum.photos/id/237/1480/800"></img>
    <img width="100%" src="https://picsum.photos/id/999/1480/800"></img>
    <img width="100%" src="https://picsum.photos/id/777/1480/800"></img>
    </div>
</div>
